doctype html
html
  head
    title File Upload
    link(rel="stylesheet" href="/styles.css")
  body
    .container
      h1 File Upload

      .upload-section
        h2 Upload a Single File
        form(action="/upload" method="POST" enctype="multipart/form-data")
          input(type="file" name="file" required)
          button(type="submit") Upload

      .upload-section
        h2 Upload Multiple Files
        form(action="/upload-multiple" method="POST" enctype="multipart/form-data")
          input(type="file" name="files" multiple required)
          button(type="submit") Upload Multiple
